Package: com.itaysoft.typingindicator
Name: TypingNotification
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap, ws.hbang.common (>= 1.11), com.cokepokes.libnotifications (>= 0.2-5)
Version: 0.0.2
Architecture: iphoneos-arm
Description: Get notifications when someone is writing you a message
Maintainer: Itay
Author: Itay
Section: Tweaks
Icon: https://www.icaughtuapp.com/repo/icons/com.itaysoft.typingindicator.png
Depiction: https://www.icaughtuapp.com/repo/depictions/web/?p=com.itaysoft.typingindicator
SileoDepiction: https://www.icaughtuapp.com/repo/depictions/native/com.itaysoft.typingindicator/depiction.json

